table {
    width: 100%;
    background-color:aliceblue;
  }
  .example-card{
    background-color:aliceblue;
    color: black!important;
  }
  th td{
    color: black!important;
  }
  th {
    background: #59abfd;
    opacity: 1;
  }
  .data_{
    color: black!important;
  }