@import 'styles/variables.scss';
.princial{
  
    background:  url("../../../../assets/img/servicio-seguimiento-entregas-envio-logistico_24640-49690.webp") ;
    background-repeat: no-repeat;
    background-position: bottom left;

 
}
