.example-card {
    max-width: 100%;
    background-color:aliceblue;
    color: black;

  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black !important;
  }
  mat-divider{
    background-color:#c2185b;

  }
  button{
    display: block;
    margin: auto;
  }
  .example-chip-list {
    width: 100%;
  }